<!-- Email -->
<div class="email-newsletter">
	<div class="email-newsletter-left">
		<p class="email-newsletter__text">
			🍵 Join our newsletter for a taste of new Japanese treasures and exclusive
			offers — sent only once in a while, like a thoughtful omiyage.<span
				style="display: block"
				>No spam. Just kindness and curation.</span
			>
		</p>
		<p class="email-newsletter__subtext">
			Get $5 off your first order when you subscribe for the first time.
		</p>
	</div>

	<div class="email-newsletter-right">
		<input
			class="email-newsletter__input"
			type="email"
			placeholder="example@gmail.com"
		/>
		<button type="submit" class="email-newsletter__submit-btn">SUBMIT</button>
	</div>
</div>

<div class="footer-container">
	<!-- <i class="fa-solid fa-truck logo"></i> -->
	<ol class="footer-links">
		<li><a href="#">FAQ</a></li>
		<li><a href="#">Privacy Policy</a></li>
		<li><a href="#">Refund Policy</a></li>
		<li><a href="#">Shipping Policy</a></li>
		<li><a href="#">Terms of Service</a></li>
	</ol>
	<div class="contact"></div>
</div>

<p class="copyright">©2025 Japanese Shopper</p>
